.vscode
/*.1
/*.epoch
/*.iml
/*.lck
/*.log
/*.out
/.classpath
/.idea
/.project
/.settings
src/main/main.iml
src/test/test.iml
/target
/test-output
/maven-eclipse.xml
/.externalToolBuilders/
/bin
*.swp
/.groovy
/atlassian-ide-plugin.xml
target/

